@import "app/styles/config";

:root {
  --trigger-color: var(--text-color);
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  width: 100%;
}

.labelWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: var(--content-width);

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
  }
}

.label {
  display: flex;
  position: relative;
  margin: 0 7px 0 0;
  border-bottom: 1px dotted var(--trigger-color);
  color: var(--trigger-color);
}

.caret {
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.caretDown {
  transform: rotate(0deg);
}

.caretUp {
  transform: rotate(180deg);
}

.contentWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
  background-color: var(--light-gray-bg);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0;
  width: 100%;
}
