@import "app/styles/config";

.h1 {
  @apply --sans-bold-font;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  text-align: center;

  @media (--small-screen) {
    font-size: 30px;
  }
}
