@import "app/styles/config";

.h1 {
  @apply --heading-font;

  display: flex;
  position: relative; /* Required for h1 to be above overlay */
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  text-align: center;

  @media (--small-screen) {
    font-size: 2.5em;
  }
}
