@import "app/styles/config";

.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 40px 0;
}

.placement--center {
  width: var(--content-width);

  & img,
  & picture {
    width: auto;
    max-width: 90%;
  }

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
  }
}

.placement--fill {
  width: var(--content-width);

  & img,
  & picture {
    width: 100%;
  }

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
  }
}

.placement--bleed {
  width: calc(var(--content-width) + 210px);

  & img,
  & picture {
    width: 100%;
  }

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
  }
}
