@custom-media --small-screen only screen and (max-width: 767px);
@custom-media --medium-screen only screen and (max-width: 1023px);
@custom-media --medium-screen-only only screen and (min-width: 768px) and (max-width: 1023px);

:root {
  --bg-color: #fff;
  --header-bg-color: #242729;
  --header-text-shadow: 0 0 6px #000;

  --gray-text: #999;
  --gray-line: #ebebeb;
  --light-gray-bg: #fafafa;
  --facebook: #3b5998;
  --twitter: #00aced;
  --github: #24292e;
  --instagram: #f74342;
  --linkedin: #0077b5;

  --content-width: 700px;
  --small-screen-padding: 30px;

  --transition-duration: .2s;
  --transition-timing-function: ease-in-out;

  --regular-font-face: Menlo, Consolas, Courier New, monospace;
  --headings-font-face: "Noto Sans", var(--regular-font-face);

  --font-size: 18px;
  --text-color: rgba(0, 0, 0, .8);
  --line-height: 1.5;

  --regular-font: {
    font-family: var(--regular-font-face);
    font-weight: 400;
    font-style: normal;
  }

  --regular-italic-font: {
    font-family: var(--regular-font-face);
    font-weight: 400;
    font-style: italic;
  }

  --heading-font: {
    font-family: var(--headings-font-face);
    font-weight: 700;
    font-style: normal;
  }

  --header-height: {
    height: 75vh;

    @media (--small-screen) {
      height: 100vh;
    }
  }

  --small-screen-paddings: {
    padding: 0 var(--small-screen-padding);
  }
}
