@import "app/styles/config";

html,
body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

body {
  @apply --regular-font;

  background-color: var(--bg-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased; /* stylelint-disable-line order/properties-order  */
}

/* stylelint-disable-next-line selector-no-id  */
#app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
