@import "app/styles/config";
@import "app/styles/z-indexes";

:root {
  --snippet-padding: 20px;
  --snippet-extra-padding: 40px;
}

.pre {
  display: flex;
  position: relative;
  z-index: var(--z-index-snippet);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0 !important;
  width: 100%;
  padding: var(--snippet-padding) !important;
  font-family: var(--regular-font-face) !important;
  font-size: 16px !important;

  & .badges {
    top: -var(--snippet-padding);

    @media (--small-screen) {
      top: -var(--small-screen-padding);
    }
  }

  &.pushABit {
    padding-top: var(--snippet-extra-padding) !important;

    & .badges {
      top: -var(--snippet-extra-padding);

      @media (--small-screen) {
        top: -var(--small-screen-padding);
      }
    }

    @media (--small-screen) {
      padding-top: var(--small-screen-padding) !important;
    }
  }

  @media (--small-screen) {
    overflow-x: auto;
    padding: var(--small-screen-padding) !important;
    font-size: 14px !important;
  }
}

.code {
  order: 2;
  width: var(--content-width);
  font-family: var(--regular-font-face) !important;
  line-height: 1.8 !important;

  @media (--small-screen) {
    width: 100%;
  }
}

.badges {
  display: flex;
  position: relative;
  order: 1;
  z-index: var(--z-index-snippet-badges);
  width: var(--content-width);
  pointer-events: none;

  @media (--small-screen) {
    top: -var(--small-screen-padding);
    width: 100%;
  }
}

.badge {
  display: flex;
  position: absolute;
  top: 0;
  background-color: #e7e7e7;
  padding: 1px 7px;
  font-size: .9em;

  @media (--small-screen) {
    position: relative;
    margin-right: 10px;
  }
}

.langBadge {
  left: -30px;
  transform: translateX(-100%);
  text-transform: uppercase;

  @media (--small-screen) {
    left: 0;
    transform: translateX(0);
  }
}

.fileBadge {
  left: 0;
}

:global .token.operator,
:global .token.entity,
:global .token.url,
:global .language-css .token.string,
:global .style .token.string {
    background: none !important;
  }
