@import "app/styles/config";
@import "app/styles/z-indexes";

:root {
  --snippet-padding: 20px;
  --snippet-extra-padding: 40px;
}

.pre {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0 !important;
  width: 100%;
  padding: var(--snippet-padding) !important;
  font-family: var(--regular-font-face) !important;
  font-size: 16px !important;

  & .badges {
    top: -var(--snippet-padding);
  }

  &.pushABit {
    padding-top: var(--snippet-extra-padding) !important;

    & .badges {
      top: -var(--snippet-extra-padding);
    }
  }
}

.code {
  order: 2;
  width: var(--content-width);
  font-family: var(--regular-font-face) !important;
  line-height: 1.8 !important;
}

.badges {
  display: flex;
  position: relative;
  order: 1;
  z-index: var(--z-index-snippet-badges);
  width: var(--content-width);
  pointer-events: none;
}

.badge {
  display: flex;
  position: absolute;
  top: 0;
  background-color: #e7e7e7;
  padding: 1px 7px;
  font-size: .9em;
}

.langBadge {
  left: -30px;
  transform: translateX(-100%);
  text-transform: uppercase;
}

.fileBadge {
  left: 0;
}

:global .token.operator,
:global .token.entity,
:global .token.url,
:global .language-css .token.string,
:global .style .token.string {
    background: none !important;
  }
