@import "app/styles/config";

.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 7%;

  @media (--small-screen) {
    flex-direction: column;
  }
}

.photo {
  display: flex;
  border-radius: 50%;
  background-color: #efefef;
  background-image: url("./images/photo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
  padding: 30px;
  border-left: 1px solid var(--gray-line);

  @media (--small-screen) {
    margin: 0;
    border-left: 0;
  }
}

.logo {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.links {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: .9em;
  color: var(--gray-text);
}

.link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.blogLink {
  transition: transform var(--transition-duration) var(--transition-timing-function);
  background-color: #f00;
  padding: 2px 8px;
  color: #fff;

  &:focus,
  &:hover {
    transform: rotate(-7deg) scale(1.1);
  }
}

.sep {
  display: flex;
  border: 0;
  border-left: 1px solid var(--gray-line);
  transform: rotate(15deg);
}

.iconLink {
  transition: fill var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    transition-property: transform;
    transform: scale(1.1);
  }
}

.twitter {
  &:focus path,
  &:hover path {
    fill: var(--twitter);
  }
}

.facebook {
  &:focus path,
  &:hover path {
    fill: var(--facebook);
  }
}

.github {
  &:focus path,
  &:hover path {
    fill: var(--github);
  }
}
