@import "app/styles/config";
@import "app/styles/z-indexes";

:root {
  --visible-opacity: 0.5;
}

.container {
  display: flex;
  margin: 0 auto;
  width: calc(var(--content-width) + 300px);

  @media (--small-screen) {
    @apply --small-screen-paddings;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    width: 100%;
    background-color: var(--light-gray-bg);
    padding: 15px 0;
  }

  @media (--medium-screen-only) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 40px 0 -20px;
    width: 100%;
    background-color: var(--light-gray-bg);
    padding: 15px 0;
  }
}

.widget {
  display: flex;
  position: fixed;
  top: 80px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  z-index: var(--z-index-social-sharing);

  @media (--small-screen) {
    position: relative;
    top: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  @media (--medium-screen-only) {
    position: relative;
    top: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}

.title,
.shareButton,
.shareIcon {
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.title {
  opacity: var(--visible-opacity);
  font-size: 0.8em;
  color: var(--gray-text);
  text-transform: uppercase;
}

.shareButton {
  display: flex;
  margin-top: 20px;

  &:focus,
  &:hover {
    opacity: 1;
  }

  @media (--medium-screen) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.shareIcon {
  width: 32px;
  height: 32px;
}

.hidden {
  transform: scale(0);
  opacity: 0;
}

.visible {
  transform: scale(1);
  opacity: var(--visible-opacity);
}
