@import "app/styles/config";

:root {
  --right-side: {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 20px;
    width: 160px;
  }
}

.posts {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.7;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  padding: 40px 0;
  width: var(--content-width);
  min-height: 100vh;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  @apply --right-side;
}

.link {
  transition-property: background-color, box-shadow, text-shadow;
  transition-duration: .03s;
  transition-timing-function: ease-in;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;

  &:active {
    text-shadow: none !important;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 -5px 0 0 #fff, inset 0 -6px 0 0 color(var(--text-color) l(+55%));
  }

  &:focus {
    background-color: rgba(0, 0, 0, .05);
  }

  &:hover {
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  }
}

.blog {
  background-color: #f00;
  padding: 2px 8px;
  color: #fff;
}

.yearPosts {
  margin-bottom: 20px;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
}

.year {
  @apply --right-side;

  color: var(--gray-text);
  font-size: .6em;
}

.postLink {
  font-size: .9em;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.push {
  @apply --right-side;
}

.copy {
  color: var(--gray-text);
  font-size: .6em;
}
