@import "app/styles/config";

.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 40px 0;
}

.type--center {
  width: var(--content-width);

  & img {
    width: auto;
    max-width: 90%;
  }
}

.type--fill {
  width: var(--content-width);

  & img {
    width: 100%;
  }
}

.type--bleed {
  width: calc(var(--content-width) + 210px);

  & img {
    width: 100%;
  }
}
