@import "app/styles/config";

.h3 {
  /*@apply --heading-font;*/

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 30px 0 10px;
  width: var(--content-width);
  font-size: 1.2em;
  font-weight: 700;
  color: #777;

  & + p {
    margin-top: 0;
  }
}
