@import "app/styles/config";

.header {
  @apply --header-height;

  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: height var(--transition-duration) var(--transition-timing-function);
  width: 100%;
  padding: 40px 100px;
  color: #fff;
  text-shadow: var(--header-text-shadow);
  pointer-events: none;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
