@import "app/styles/config";

.header {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: height var(--transition-duration)
    var(--transition-timing-function);
  width: 100%;
  padding: 40px 100px;
  color: #fff;
  text-shadow: var(--header-text-shadow);
  pointer-events: none;

  @media (--small-screen) {
    padding-bottom: 70px;
  }
}

.headerWithCover {
  @apply --header-with-cover-height;
}

.headerWithoutCover {
  @apply --header-without-cover-height;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
