@import "app/styles/config";

.paragraph {
  @apply --regular-font;

  display: block;
  width: var(--content-width);
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
  }
}
