@import "app/styles/config";

.paragraph {
  @apply --serif-regular-font;

  display: block;
  width: var(--content-width);
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  @media (--small-screen) {
    width: 100%;
    padding: 0 var(--small-screen-paddings);
  }
}
