@import "app/styles/config";

:root {
  --small-screen-item-margins: {
    margin: 15px 0;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
  padding: 90px 0 50px 0px;
  font-size: .8em;

  @media (--small-screen) {
    @apply --small-screen-paddings;

    flex-flow: column nowrap;
    width: 100%;
  }
}

.index {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  @media (--small-screen) {
    @apply --small-screen-item-margins;

    order: 1;
    margin-top: 0;
  }
}

.indexLink {
  box-shadow: inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 color(var(--text-color) l(+55%));
}

.src,
.copy {
  font-size: .8em;
  color: var(--gray-text);
  @media (--small-screen) {
    @apply --small-screen-item-margins;
  }
}

.src {
  @media (--small-screen) {
    order: 2;
  }
}

.copy {
  @media (--small-screen) {
    order: 4;
    margin-bottom: 30px;
  }
}

.srcIcon {
  margin-right: 10px;
  width: 12px;
  height: 12px;
}

.srcLink {
  color: var(--gray-text);
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 color(var(--gray-text) l(+15%));

  &:focus {
    background-color: rgba(0, 0, 0, .05);
  }
}

.socials {
  display: flex;
  flex-flow: row nowrap;

  @media (--small-screen) {
    @apply --small-screen-item-margins;

    order: 3;
  }
}

.socialLink {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  &:focus,
  &:hover {
    transition-property: transform;
    transform: scale(1.1);
  }
}

.twitter {
  &:focus path,
  &:hover path {
    fill: var(--twitter);
  }
}

.facebook {
  &:focus path,
  &:hover path {
    fill: var(--facebook);
  }
}

.github {
  &:focus path,
  &:hover path {
    fill: var(--github);
  }
}

.instagram {
  &:focus path,
  &:hover path {
    fill: #f74342;
  }
}

.linkedin {
  &:focus path,
  &:hover path {
    fill: var(--linkedin);
  }
}
