@import "app/styles/config";

:root {
  --bleed: 20px;
  --icons-margins: 20px;
}

.navbar {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: calc(var(--content-width) + var(--bleed));
  padding: 14px var(--bleed);
  font-size: .7em;
  border-bottom: 1px solid var(--gray-line);
}

.center {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--gray-text);
  text-transform: uppercase;
}

.leftSide .link {
  margin-right: var(--icons-margins);
}

.rightSide .link {
  margin-left: var(--icons-margins);
}

.link {
  &:focus path,
  &:hover path {
    fill: #333;
  }
}
