@import "app/styles/config";

.h2 {
  @apply --sans-bold-font;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 20px 0 10px;
  width: var(--content-width);
  font-size: 30px;

  & + p {
    margin-top: 0;
  }
}
