@import "app/styles/config";

.h2 {
  @apply --heading-font;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 30px 0 10px;
  width: var(--content-width);
  font-size: 1.7em;

  & + p {
    margin-top: 0;
  }

  & + ul,
  & + ol {
    margin-top: 10px;
  }

  @media (--small-screen) {
    @apply --small-screen-paddings;

    width: 100%;
    font-size: 1.7em;
  }
}
